# Python 3 para Análise de Dados
### Básico da Linguagem Python
    by Adriano Pylro
    Referências:
        1) Pyhton para Análise de Dados (Wes McKinney)

In [85]:
# Bibliotecas Python Essenciais
#    NumPy
#    pandas 
#    matplotlib
#    SciPy: scipy.stats
#    scikit-learn
#    statsmodels

In [86]:
# Convenções de Importação
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import statsmodels as sm 

# comando mágico para lidar com gráficos no JN
%matplotlib inline

In [3]:
# Outros Comandos Mágicos Interessantes para JN
#    %run <script.py>
#    %time <instrução>
#    %timeit <instrução>

In [4]:
# Atributos e Métodos
# Atributos: outros objetos Python armazenados "dentro" do objeto
# Métodos: funções associadas a um objeto, que podem ter acesso aos seus dados internos
# Sintaxe: objeto.nome_do_atributo
# Exemplo:
a = "Adriano"
# a.<Pressione Tab>

In [5]:
a = 7
b = 5

In [6]:
a + b #soma

12

In [7]:
a - b #subtração

2

In [8]:
a * b #multiplicação

35

In [9]:
a / b #divisão

1.4

In [10]:
a // b #divisão descartando resto fracionário

1

In [11]:
a ** b #potência

16807

In [12]:
c = True
d = True
e = False

In [13]:
c & d

True

In [14]:
c & e

False

In [15]:
c | d

True

In [16]:
c | e

True

In [17]:
c ^ d

False

In [18]:
c ^ e

True

In [19]:
 a == b

False

In [20]:
c == d

True

In [21]:
a != b

True

In [22]:
a < b

False

In [23]:
a >= b

True

In [24]:
a is b

False

In [25]:
c is d

True

In [26]:
a is not b

True

In [27]:
c is not d

False

In [28]:
# Objetos mutáveis: listas, dicionários, arrays NumPy, dentre outros tipos definidos pelo usuário
# Objetos imutáveis: strings, tuplas

In [29]:
# Principais Tipos Númericos: float, int

In [30]:
# int
ival = 17239871
ival**6

26254519291092456596965462913230729701102721

In [31]:
type(ival)

int

In [32]:
fval = 7.243
fval2 = 6.78e-5

In [33]:
type(fval)

float

In [34]:
type(fval2)

float

In [35]:
# Strings
a = 'isso é uma string'
b = "isso tb é uma string"

In [36]:
type(a)

str

In [37]:
type(b)

str

In [38]:
c = """
Isso é uma string
com múltiplas
linhas
"""

In [39]:
type(c)

str

In [40]:
c.count("\n")

4

In [41]:
a = 5.6
s = str(a)
type(s)

str

In [42]:
s = "python"
list(s)

['p', 'y', 't', 'h', 'o', 'n']

In [43]:
s[0]

'p'

In [44]:
s[:3]

'pyt'

In [45]:
a = "adriano "
b = "pylro"
a + b

'adriano pylro'

In [46]:
# Método format de objetos strings
template = "{0:.2f} {1:s} são valores de R${2:d}"

# Significado 
# {0:.2f} significa formatar o primeiro elmento como um número de ponto flutuante com duas casas decimais.
# {1:s} significa formatar o segundo argumento como uma string.
# {2:d} significa formatar o terceiro argumento como um inteiro exato.

In [47]:
template.format(4.5560, "Reais Brasileiros", 1)

'4.56 Reais Brasileiros são valores de R$1'

In [48]:
# Casting de Tipos
# os tipos str, bool, int e float também são funções
s = "3.14159"
fval = float(s)
type(fval)

float

In [49]:
fval

3.14159

In [50]:
int(fval)

3

In [51]:
bool(fval)

True

In [52]:
bool(0)

False

In [53]:
# None: é o valor do tipo nulo em Python
a = None
a is None

True

In [54]:
b = 5
b is not None

True

In [55]:
type(None)

NoneType

In [56]:
# Data e horas
from datetime import datetime, date, time

In [57]:
dt = datetime(2019,7,5,15,32,30)
dt.day

5

In [58]:
dt.minute

32

In [59]:
dt.year

2019

In [60]:
dt.second

30

In [61]:
dt.date()

datetime.date(2019, 7, 5)

In [62]:
dt.time()

datetime.time(15, 32, 30)

In [63]:
dt.strftime("%d/%m/%Y %H:%M")

'05/07/2019 15:32'

In [64]:
datetime.strptime("20190911", "%Y%m%d")

datetime.datetime(2019, 9, 11, 0, 0)

In [65]:
dt.replace(hour = 18, minute = 40, second = 0)

datetime.datetime(2019, 7, 5, 18, 40)

In [66]:
dt2 = datetime(2019, 9, 11)

In [67]:
delta = dt2 - dt
delta

datetime.timedelta(days=67, seconds=30450)

In [68]:
type(delta)

datetime.timedelta

In [69]:
dt + delta

datetime.datetime(2019, 9, 11, 0, 0)

In [70]:
# Controle de Fluxo
# if, elif e else
x = 3
if x < 0:
    print("X é negativo")
elif x == 0:
    print("x é igual a zero")
elif 0 < x < 5:
    print("X é positivo e menor do que 5")
else:
    print("X é positivo e maior do que 5")

X é positivo e menor do que 5

In [71]:
# Laços for
for x in [1,2,3,4,5,6,7]:
    if x % 2 == 0:
        print(str(x) + " é um número par")
    else:
        print(str(x) + " é um número ímpar")

1 é um número ímpar
2 é um número par
3 é um número ímpar
4 é um número par
5 é um número ímpar
6 é um número par
7 é um número ímpar

In [72]:
# continue: faz um laço for avançar para a próxima iteração ignorando o restante do bloco.
seq = [1, 2, None, 4, None, 5]
total = 0
for value in seq:
    if value is None:
        continue
    total += value
total

12

In [73]:
# break: possibilita sair totalmente de um laço for
seq = [1, 2, 0, 4, 6, 5, 2, 1]
total_ate_5 = 0
for value in seq:
    if value == 5:
        break
    total_ate_5 += value
total_ate_5

13

In [74]:
for a, b, c in [(1, 2, 3)]:
    print(a)
    print(b)
    print(c)

1
2
3

In [75]:
# laços while
x = 256
total = 0
while x > 0:
    if total > 500:
        break
    total += x
    print(total)
    x = x // 2

256
384
448
480
496
504

In [76]:
# range: devolve um iterador que produz uma sequência de inteiros uniformemente espaçados
range(10)

range(0, 10)

In [77]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [78]:
list(range(0, 10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [79]:
list(range(0, 20, 2)) #inicia em 0, termina em 20(excludente) com passo 2

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [80]:
list(range(5, 0, -1))

[5, 4, 3, 2, 1]

In [81]:
# Um uso comun de range é na iteração em sequências usando um índice:
seq = [1, 2, 3, 4]
for i in range(len(seq)):
    val = seq[i]

In [82]:
soma = 0
for i in range(10000):
    # % é o operador módulo
    if i % 3 == 0 or i % 5 == 0:
        soma += i
soma

23331668

In [83]:
# Expressões ternárias: permite combinar um bloco if-else em uma única linha

x = 5
"não negativo" if x >= 0 else "negativo"

'não negativo'

In [84]:
# Fim