# Python 3 para Análise de Dados
### Estrutura de Dados Embutidas, Funções e Arquivos
    by Adriano Pylro
    Referências:
        1) Pyhton para Análise de Dados (Wes McKinney)

### Estrutura de dados e sequência

#### Tupla
Um sequência imutável, de tamanho fixo, de objetos Python. Utiliza-se ( ) ou a função tuple.

In [1]:
tup = 4, 5,6

In [2]:
tup

(4, 5, 6)

In [3]:
tup_aninhada = (4, 5, 6), (7, 8)

In [4]:
tup_aninhada

((4, 5, 6), (7, 8))

In [5]:
tuple([4, 0 , 2])

(4, 0, 2)

In [6]:
tup = tuple("texto")

In [7]:
tup

('t', 'e', 'x', 't', 'o')

In [8]:
tup[0]

't'

In [9]:
tup[2] = "s" # não é possível modificar qualquer objeto armazenado em cada posição de uma tupla.

TypeError: 'tuple' object does not support item assignment

In [10]:
tup = tuple(["texto",[1, 3, 5], False])

In [11]:
tup

('texto', [1, 3, 5], False)

In [12]:
tup[1].append(7)

In [13]:
tup

('texto', [1, 3, 5, 7], False)

In [14]:
(11,9) +("Adriano",)+("Pylro",2019)

(11, 9, 'Adriano', 'Pylro', 2019)

In [15]:
("Pylro", 2019)*3

('Pylro', 2019, 'Pylro', 2019, 'Pylro', 2019)

In [16]:
# Desempacotando Tuplas
tup = (4, 5, 6)

In [17]:
a, b, c = tup

In [18]:
b

5

In [19]:
c

6

In [20]:
tup = tuple("Pylro")

In [21]:
a, b, c, d, e = tup

In [22]:
b

'y'

In [23]:
k, w, *rest = tup

In [24]:
k, w

('P', 'y')

In [25]:
rest

['l', 'r', 'o']

In [26]:
t , s, *_ = tup # por convenção, muitos programadores Python utilizam o underscore (_) para var indesejadas.

In [27]:
t, s

('P', 'y')

In [28]:
_

['l', 'r', 'o']

In [29]:
nome = tuple("Adriano Siqueira Pylro")

In [30]:
nome.count("i")

3

In [31]:
a = (1, 2, 2, 2, 3, 4, 2, 2, 5, 1)

In [32]:
a.count(2)

5

#### Lista
Possuem tamanho variáveis e seu conteúdo pode ser modificado. Utiliza-se o [ ] ou a função list

In [33]:
a_list = [2, 3, 7, "adriano"]

In [34]:
tup = ("adriano", "bar", "vasco")

In [35]:
b_list = list(tup)

In [36]:
b_list

['adriano', 'bar', 'vasco']

In [37]:
b_list[1] = "gama"

In [38]:
b_list

['adriano', 'gama', 'vasco']

In [39]:
gen = range(10)

In [40]:
gen

range(0, 10)

In [41]:
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [42]:
# Adicionando e removendo elementos

In [43]:
b_list.append("engenharia")
b_list

['adriano', 'gama', 'vasco', 'engenharia']

In [44]:
b_list.insert(1,"pylro")
b_list

['adriano', 'pylro', 'gama', 'vasco', 'engenharia']

In [45]:
b_list.pop(2)
b_list

['adriano', 'pylro', 'vasco', 'engenharia']

In [46]:
b_list.append("pylro")
b_list

['adriano', 'pylro', 'vasco', 'engenharia', 'pylro']

In [47]:
b_list.remove("pylro")
b_list

['adriano', 'vasco', 'engenharia', 'pylro']

In [48]:
"pylro" in b_list

True

In [49]:
"pylro" not in b_list

False

In [50]:
# Concatenando e Combinando Listas

In [51]:
["adriano", "engenharia"] + ["vasco", 69]

['adriano', 'engenharia', 'vasco', 69]

In [52]:
x = ["adriano", 69, 19]
x.extend(["siqueira","pylro"])

In [53]:
x

['adriano', 69, 19, 'siqueira', 'pylro']

In [54]:
# Ordenação

In [55]:
a =[7, 2, 3, 9, 8, 10, 1]

In [56]:
a.sort()
a

[1, 2, 3, 7, 8, 9, 10]

In [57]:
b = ["adriano", "siqueira", "pylro"]

In [58]:
b.sort(key=len)
b

['pylro', 'adriano', 'siqueira']

In [64]:
# Fatiamento (slices)
# [start: stop]
# O elemento no índice start é incluído, já o elemento do índice stop nãp.
# Número de elementos = start - stop

In [60]:
seq =[1, 4, 7, 4, 6, 5, 0, 1]

In [61]:
seq[1:4]

[4, 7, 4]

In [62]:
seq[5:8] = [10, 11, 12]

In [63]:
seq

[1, 4, 7, 4, 6, 10, 11, 12]

In [65]:
seq[:5]

[1, 4, 7, 4, 6]

In [66]:
seq[4:]

[6, 10, 11, 12]

In [67]:
seq[-1]

12

In [68]:
seq[-3]

10

In [69]:
seq[-3:]

[10, 11, 12]

In [70]:
seq[-6:-2]

[7, 4, 6, 10]

In [71]:
seq[::2] #step

[1, 7, 6, 11]

In [72]:
seq

[1, 4, 7, 4, 6, 10, 11, 12]

In [73]:
seq[::-1] # inverte uma lista ou uma tupla

[12, 11, 10, 6, 4, 7, 4, 1]

#### Funções Embutidas para Sequências

In [74]:
# sorted
sorted(seq)

[1, 4, 4, 6, 7, 10, 11, 12]

In [77]:
sorted("adriano Pylro")

[' ', 'P', 'a', 'a', 'd', 'i', 'l', 'n', 'o', 'o', 'r', 'r', 'y']

In [91]:
# dict - é a estrutura de dados embutida mais importante de Python.
d1 = {"adriano": 10, "Lucas": 8, "Mateus": 9}
d1

{'adriano': 10, 'Lucas': 8, 'Mateus': 9}

In [92]:
d1["Simone"] = 9.5

In [93]:
d1

{'adriano': 10, 'Lucas': 8, 'Mateus': 9, 'Simone': 9.5}

In [94]:
d1["adriano"]

10

In [95]:
"Simone" in d1

True

In [96]:
"simone" in d1

False

In [100]:
d1[5] = "teste"
d1

{'adriano': 10, 'Lucas': 8, 'Mateus': 9, 'Simone': 9.5, 5: 'teste'}

In [101]:
del d1[5]

In [102]:
d1

{'adriano': 10, 'Lucas': 8, 'Mateus': 9, 'Simone': 9.5}

In [104]:
list(d1.keys())

['adriano', 'Lucas', 'Mateus', 'Simone']

In [105]:
list(d1.values())

[10, 8, 9, 9.5]

In [106]:
d1.update({"João": 7.5, "José": 6})

In [107]:
d1

{'adriano': 10, 'Lucas': 8, 'Mateus': 9, 'Simone': 9.5, 'João': 7.5, 'José': 6}

In [108]:
# set