# Python 3 para Análise de Dados
### Estrutura de Dados Embutidas, Funções e Arquivos
    by Adriano Pylro
    Referências:
        1) Pyhton para Análise de Dados (Wes McKinney)

### Estrutura de dados e sequência

#### Tupla
Um sequência imutável, de tamanho fixo, de objetos Python. Utiliza-se ( ) ou a função tuple.

In [3]:
tup = 4, 5,6

In [4]:
tup

(4, 5, 6)

In [5]:
tup_aninhada = (4, 5, 6), (7, 8)

In [6]:
tup_aninhada

((4, 5, 6), (7, 8))

In [7]:
tuple([4, 0 , 2])

(4, 0, 2)

In [8]:
tup = tuple("texto")

In [9]:
tup

('t', 'e', 'x', 't', 'o')

In [10]:
tup[0]

't'

In [12]:
tup[2] = "s" # não é possível modificar qualquer objeto armazenado em cada posição de uma tupla.

TypeError: 'tuple' object does not support item assignment

In [18]:
tup = tuple(["texto",[1, 3, 5], False])

In [19]:
tup

('texto', [1, 3, 5], False)

In [20]:
tup[1].append(7)

In [21]:
tup

('texto', [1, 3, 5, 7], False)

In [25]:
(11,9) +("Adriano",)+("Pylro",2019)

(11, 9, 'Adriano', 'Pylro', 2019)

In [26]:
("Pylro", 2019)*3

('Pylro', 2019, 'Pylro', 2019, 'Pylro', 2019)

In [27]:
# Desempacotando Tuplas
tup = (4, 5, 6)

In [28]:
a, b, c = tup

In [29]:
b

5

In [30]:
c

6

In [31]:
tup = tuple("Pylro")

In [32]:
a, b, c, d, e = tup

In [33]:
b

'y'

In [35]:
k, w, *rest = tup

In [36]:
k, w

('P', 'y')

In [37]:
rest

['l', 'r', 'o']

In [41]:
t , s, *_ = tup # por convenção, muitos programadores Python utilizam o underscore (_) para var indesejadas.

In [42]:
t, s

('P', 'y')

In [43]:
_

['l', 'r', 'o']

In [44]:
nome = tuple("Adriano Siqueira Pylro")

In [46]:
nome.count("i")

3

In [47]:
a = (1, 2, 2, 2, 3, 4, 2, 2, 5, 1)

In [48]:
a.count(2)

5

#### Lista
Possuem tamanho variáveis e seu conteúdo pode ser modificado. Utiliza-se o [ ] ou a função list

In [49]:
a_list = [2, 3, 7, "adriano"]

In [50]:
tup = ("adriano", "bar", "vasco")

In [51]:
b_list = list(tup)

In [52]:
b_list

['adriano', 'bar', 'vasco']

In [53]:
b_list[1] = "gama"

In [54]:
b_list

['adriano', 'gama', 'vasco']

In [55]:
gen = range(10)

In [56]:
gen

range(0, 10)

In [57]:
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [58]:
# Adicionando e removendo elementos